.signIn {
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 10px auto;
  border: 2px solidrgba(29, 29, 102, 0.867);
  color: rgb(230, 25, 59);
  background-color: #f2f2f2;
  width: 350px;
  box-shadow: 0px 2px 4px 2px #aaa1a1;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #f44336;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 40px;
}

.label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00ba63;
}
