nav {
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solidrgba(29, 29, 102, 0.867);
  color: rgb(187, 12, 35);
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 10px;
}

.ul {
  display: inline-flex;
}

.li {
  list-style: none;
  float: left;
  margin-right: 50px;
}

.subtitle {
  color: rgb(187, 12, 99);
  float: right;
}

.title {
  display: inline-flex;
}

button :hover {
  background-color: #00ba63;
}
